{% extends 'base.html.twig' %}

{% block title %} Nos appartements disponibles {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3"> Voici les annonces de nos hôtes ! </h1>
        <div class="row">
            {% for annonce in annonces %}
                {{ include('share/cardAnnonce.html.twig') }}
            {% endfor %}

            <h2> Nos propriétaires stars </h2>
            
            <div class="row mt-5">

                <div class="col-md-4">
                    <div class="card-body">
                        <h4 class="card-title"> Tom Cruise </h4>
                        <img src="{{ asset('assets/img/proprietaire/pp1.jpg') }}" alt="Propriétaire 1" style="width: 60%; display: block"></img>
                        <p class="car-text"> Petit mot sur le proprio...</p>
                        <a href="#" class="btn btn-success"> En savoir plus </a>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card-body">
                        <h4 class="card-title"> Rachel Evan Wood </h4>
                        <img src="{{ asset('assets/img/proprietaire/pp2.jpg') }}" alt="Propriétaire 2" style="width: 60%; display: block"></img>
                        <p class="car-text"> Petit mot sur le proprio...</p>
                        <a href="#" class="btn btn-success"> En savoir plus </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-body">
                        <h4 class="card-title"> Scarlette Johansson</h4>
                        <img src="{{ asset('assets/img/proprietaire/pp3.jpg') }}" alt="Propriétaire 3" style="width: 60%; display: block"></img>
                        <p class="car-text"> Petit mot sur le proprio...</p>
                        <a href="#" class="btn btn-success"> En savoir plus </a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}

