{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<div class="row mt-5">

    {% for annonce in annonces %}
       {{ include('share/cardAnnonce.html.twig') }}
    {% endfor %}
    
</div>
{% endblock %}
