<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LittleBnb{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap5.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/solar.css') }}" >
        
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include ("share/header.html.twig") %}

        {% block body %}{% endblock %}

        {% include ("share/footer.html.twig") %}

        <script src="{{ asset('assets/js/boostrap5.js') }}"> <\scipt>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
